@import "../../../variables";

.repertoire-container-page {
  .menu-banner {
    width: 100%;
    height: 12vh;
    background-color: white;
  }
  .repertoire-hero-image {
    width: 100%;
    height: 60vh;
    background-image: url(../../../images/test12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .repertoire-hero-image-filter {
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    height: 60vh;
    z-index: 2;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
  }
}

.container-repertoire {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 70vh;
  height: fit-content;
  position: relative;
  background-color: $secondary-background-color;

  .heading2 {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $font-color-light;
    background-color: $primary-background-color;
    box-shadow: $box-shadow-standard;
  }

  .container-repertoire-cards {
    width: 100%;
    min-height: 80vh;
    height: fit-content;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    .repertoire-opera {
      .repertoire-heading-container {
        width: 80%;
      }
      .repertoire-item {
        width: 80%;
      }
    }

    .repertoire-concert {
      .repertoire-heading-container {
        width: 60%;
      }
      .repertoire-item {
        width: 60%;
      }
    }
  }
}

.repertoire-opera,
.repertoire-concert {
  flex-basis: 40%;
  min-height: 50vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: $box-shadow-standard;

  h3 {
    padding-top: 20px;
  }

  .repertoire-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .repertoire-item {
    display: flex;
    flex-direction: column;

    .repertoire-item-text {
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $primary-background-color;
    }
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .container-repertoire {
    min-height: 100vh;
    height: fit-content;
    .container-repertoire-cards {
      flex-direction: column !important;

      .repertoire-opera {
        width: 80%;
        min-height: 30vh;
        height: fit-content;
        margin-bottom: 50px;
      }
      .repertoire-concert {
        width: 80%;
        min-height: 30vh;
        height: fit-content;
        margin-bottom: 50px;
      }
    }
  }
}
@media (max-width: 600px) {
  .container-repertoire {
    min-height: 100vh;
    height: fit-content;

    .container-repertoire-cards {
      flex-direction: column;

      .repertoire-concert,
      .repertoire-opera {
        width: 90%;
        min-height: 30vh;
        height: fit-content;
        margin-bottom: 50px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;

        .repertoire-heading-container {
          width: 100%;
          padding: 5px;
        }

        .repertoire-item {
          width: 100%;
          padding: 5px;
        }
      }
    }
  }
}
