@import "../../../variables";

#header-tablet-mobile .burger-button {
  background-color: white;
  .hamburger {
    background-color: $primary-background-color;
  }
  .hamburger::before {
    background-color: $primary-background-color;
  }
  .hamburger::after {
    background-color: $primary-background-color;
  }
}

.bio-container-page {
  .menu-banner {
    width: 100%;
    height: 12vh;
    background-color: white;
  }
  .bio-hero-image {
    width: 100%;
    height: 60vh;
    background-image: url(../../../images/Joachim-096.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .bio-hero-image-filter {
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    height: 60vh;
    z-index: 2;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
  }
}

.container-bio {
  min-height: 100vh;
  height: fit-content;
  background-color: $secondary-background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;

  h2 {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $font-color-light;
    background-color: $primary-background-color;
  }

  .bio-subheading {
    color: $highlight-color;
    text-align: center;
    width: 60%;
    font-size: $font-size-heading2;
  }

  p {
    font-size: $font-size-body-small;
    width: 40%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  #listitem-logo {
    display: none;
  }
  #logo-tablet-mobile {
    display: block;
  }

  .container-bio {
    .bio-subheading {
      padding: 20px;
    }
    p {
      width: 65%;
    }
  }
}
@media (max-width: 600px) {
  #listitem-logo {
    display: none;
  }
  #logo-tablet-mobile {
    display: block;
  }
  .container-bio {
    .bio-subheading {
      width: 90%;
      font-size: $font-size-body;
      padding: 20px;
    }
    p {
      width: 80%;
    }
  }
}
