//colors
$primary-background-color: #636a7e;
$secondary-background-color: #f9f9f9;
$text-color-body: #282525;
$text-color-heading: #252f40;
$highlight-color: #793c43;

//box-shadow
$box-shadow-standard: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
$box-shadow-button: 0px 8px 24px 0px rgba(149, 157, 165, 0.3);

//font
$font: "Montserrat", sans-serif;
$font-size-body: 16px;
$font-size-heading2: 24px;
$font-size-heading1: 34px;
$font-size-body-small: 14px;
$font-color-dark: #282525;
$font-color-light: #ffffff;
