* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.primary-button {
  border-radius: 10px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  background-color: #636a7e;
  border: none;
  color: white;
  text-decoration: none;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0, 3);
  cursor: pointer;
}

/* .primary-button a {
  color: #252f40;
  text-decoration: none;
  color: white;
} */

.secondary-button {
  border-radius: 10px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  background-color: white;
  border: none;
  color: #252f40;
  text-decoration: none;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0, 3);
  cursor: pointer;
}

/* .secondary-button a {
  color: #252f40;
  text-decoration: none;
} */

.button-link {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.button-link:hover,
.primary-button:hover,
.secondary-button:hover {
  transform: scale(1.02);
}

.button-link:focus,
.primary-button:focus,
.secondary-button:focus {
  opacity: 0.8;
}

.button-link:active,
.primary-button:active,
.secondary-button:active {
  border: 2px solid black;
}

.secondary-button:disabled {
  opacity: 0.6;
}

.heading1 {
  font-size: 34px;
  color: #252f40;
}

.heading2 {
  font-size: 24px;
  color: #252f40;
}

.heading3 {
  font-size: 18px;
  color: #793c43;
}

.heading4 {
  font-size: 18px;
  color: #636a7e;
}

.heading5 {
  font-size: 18px;
  color: #636a7e;
  opacity: 0.6;
  font-size: 0.9rem;
}

.bold-text {
  font-weight: 600;
}

/* .page-separator {
  height: 10vh;
  width: 100%;
  background-color: #636a7e;
} */

input {
  height: 35px;
  border-radius: 10px;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0, 3);
}
