* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.secondary-button {
  border-radius: 10px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  background-color: white;
  border: none;
  color: #252f40;
  text-decoration: none;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0, 3);
}

.secondary-button a {
  color: #252f40;
  text-decoration: none;
}

.secondary-button:hover {
  transform: scale(1.02);
}

.heading1 {
  font-size: 34px;
  color: #252f40;
}

.heading2 {
  font-size: 24px;
  color: #252f40;
}
