body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.secondary-button {
  border-radius: 10px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  background-color: white;
  border: none;
  color: #252f40;
  text-decoration: none;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0, 3);
}

.secondary-button a {
  color: #252f40;
  text-decoration: none;
}
