@import "../../../variables";

#header-desktop nav ul #listitem-logo {
  color: black;
}

#header-tablet-mobile #image-logo-light-mobile {
  display: none;
}

#header-tablet-mobile nav ul li a {
  color: white;
}

#header-tablet-mobile .burger-button {
  background-color: white;
  .hamburger {
    background-color: $primary-background-color;
  }
  .hamburger::before {
    background-color: $primary-background-color;
  }
  .hamburger::after {
    background-color: $primary-background-color;
  }
}

.schedule-container-page {
  .menu-banner {
    width: 100%;
    height: 12vh;
    background-color: white;
  }
  .schedule-hero-image {
    width: 100%;
    height: 60vh;
    background-image: url(../../../images/Joachim-schedule.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .schedule-hero-image-filter {
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    height: 60vh;
    z-index: 2;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
  }
}

.container-schedule {
  width: 100%;
  height: fit-content;
  background-color: $secondary-background-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding-bottom: 50px;
  .heading2 {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $font-color-light;
    background-color: $primary-background-color;
    box-shadow: $box-shadow-standard;
  }

  .container-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .schedule-card {
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 30vh;
      background-color: white;
      border-radius: 10px;
      box-shadow: $box-shadow-standard;
      margin-top: 50px;

      .container-schedule-card-when {
        width: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        border-right: 1px solid $primary-background-color;
        .schedule-card-when {
          width: 40%;
          text-align: center;
        }
      }
      .schedule-card-text {
        width: 32%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 10px;

        h3 {
          margin: 0;
          font-size: $font-size-heading2;
          color: $highlight-color;
        }

        p {
          text-align: center;
        }

        .primary-button {
          text-align: center;
        }
      }

      .schedule-card-image {
        display: block;
        height: 60%;
        width: 33%;

        border: none;
        border-left: 1px solid $primary-background-color;
      }
    }
  }
  .container-schedule-show-more {
    padding-top: 20px;
    padding-bottom: 20px;
    &:hover {
      transform: scale(1.02);
    }
    .schedule-post-link {
      all: unset;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {
  #listitem-logo {
    display: none;
  }
  #logo-tablet-mobile {
    display: block;
  }
  .container-schedule {
    .container-cards {
      min-height: 50vh;
      height: fit-content;
      width: 100%;
      .schedule-card {
        flex-direction: column-reverse !important;
        min-height: 50vh;
        height: fit-content;
        .container-schedule-card-when {
          width: 100%;
          height: 20vh;
          border: none;

          .schedule-card-when {
            font-weight: 600;
          }
        }
        .schedule-card-text {
          width: 100%;
          height: 30vh;
        }

        .schedule-card-image {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 900px) and (max-height: 500px) {
  .container-schedule {
    .container-cards {
      .schedule-card {
        height: 60vh;
      }
    }
  }
}
